
.post .post-title h1 {
    font-size: 30px;
    letter-spacing: 5px;
    line-height: 1;
}

.post .post-title h2 {
    letter-spacing: 1px;
    font-size: 28px;
    line-height: 1;
    font-weight: 600;
    color: var(--heading-color);
}

.post .post-title h3 {
    letter-spacing: 1px;
    line-height: 1;
    font-weight: 600;
    /* color: #464646; */
    color: var(--heading-color);
    font-size: 22px;
    margin: 0;
}
